<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="Info">

    <targets async="true">
        <target name="Console" xsi:type="Console">
            <layout type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${uppercase:${level}}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:@}" />
                <attribute name="service" layout="${environment:variable=LOG_NAME}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="EasyNetQ.*" maxlevel="Info" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Debug" writeTo="Console" />
    </rules>
</nlog>